// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&family=Inter:wght@400;500;600;700;800;900&family=Oxygen:wght@700&display=swap');

// Define fonts for body and headers
$base-font: 'Inter', sans-serif;
$header-font: 'Oxygen', sans-serif;

p {
  font-size: 14px;
}

h1 {
  font-size: 48px;
  line-height: 40px;
  font-weight: 900;
}

h2 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 800;
}

h3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
}

.welcome {
  color: gray;
  font-family: 'Heebo';
}

h4 {
  font-size: 24px;
  line-height: 20px;
  font-weight: 600;
}

/* Won't be used here */

h5 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}

h6 {
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
}
