// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Roboto:wght@400;700&family=Roboto+Condensed:wght@700&display=swap');

// Define fonts for body and headers
$body-font: 'Inter', sans-serif;
$headers-font: 'Inter', sans-serif;

body {
  font-family: $body-font
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font
}

p {
  font-size: 14px;
}

h1 {
  font-size: 48px;
  line-height: 40px;
  font-weight: 900;
}

h2 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 800;
}

h3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
}

.welcome {
  color: gray;
  font-family: 'Inter';
}

h4 {
  font-size: 24px;
  line-height: 20px;
  font-weight: 600;
}

/* Won't be used here */

h5 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}

h6 {
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
}
