<div class="footer" style="margin-top:20px;">
  <div class="container">
    <div class="row" style="place-items: center;">
      <div class="col-4">
        <div class="footer-links">
          <a target="_blank" href="https://github.com/mkzinoun/AirTDF"><i class="fab fa-github"></i></a>
          <a target="_blank" href="https://www.instagram.com/lewagonfrance/?hl=en"><i class="fab fa-instagram"></i></a>
          <a target="_blank" href="https://memegenerator.net/img/instances/58685318/who-still-uses-facebook-honestly.jpg"><i class="fab fa-facebook"></i></a>
          <a target="_blank" href="https://twitter.com/Lewagonparis"><i class="fab fa-twitter"></i></a>
          <a target="_blank" href="https://www.linkedin.com/school/le-wagon/"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <div class="col-4">
        <div class="footer-copyright">
          This website is made with <i class="fas fa-heart"></i> at Le Wagon by
        </div>
      </div>
      <div class="col-4" style="margin-top: 15px; padding-left: 10vw;">
        <ul class="list-inline">
          <li><i class="fa-solid fa-bicycle"></i><a target="_blank" href="https://www.linkedin.com/in/alexfleurquin/" class="grey-link"> Alexandre</a></li>
          <li><i class="fa-solid fa-bicycle"></i><a target="_blank" href="https://www.linkedin.com/in/ariel-jurkevitch-2798a614a/" class="grey-link"> Ariel</a></li>
          <li><i class="fa-solid fa-bicycle"></i><a target="_blank" href="https://www.linkedin.com/in/mkarim-zinoun/" class="grey-link"> Karim</a></li>
          <li><i class="fa-solid fa-bicycle"></i><a target="_blank" href="https://www.linkedin.com/in/bianchimatteo/" class="grey-link"> Matteo</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
