<div class="footer">
  <div class="footer-links">
    <a target="_blank" href="https://github.com/mkzinoun/AirTDF"><i class="fab fa-github"></i></a>
    <a target="_blank" href="https://www.instagram.com/lewagonfrance/?hl=en"><i class="fab fa-instagram"></i></a>
    <a target="_blank" href="https://memegenerator.net/img/instances/58685318/who-still-uses-facebook-honestly.jpg"><i class="fab fa-facebook"></i></a>
    <a target="_blank" href="https://twitter.com/Lewagonparis"><i class="fab fa-twitter"></i></a>
    <a target="_blank" href="https://www.linkedin.com/school/le-wagon/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
