
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1471506480208-91b3a4cc78be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2074&q=80);">
  <div class="container" style="margin-top: 40px">
    <h2>Rent your short-term bike</h2>
    <h2>anywhere in the world!</h2>
    <p>Share travel stories and find the best local itineraries through a community of like minded cyclists</p>
      <div class="row mt-5">
        <div class="col-6">
          <% if user_signed_in? %>
          <% else %>
            <a class="btn btn-cta" href="/users/sign_in">Login</a>
          <% end %>
          <a class="btn btn-light" href="/bikes">See all our bikes</a>
        </div>
      </div>
  </div>
</div>
<section class="container py-5">
  <div class="row p-5">
    <div class="col-sm-8 col-md-6">
      <div class="container text-center">
        <!-- Stack the columns on mobile by making one full-width and the other half-width -->
        <div class="row">
          <div class="col-md-8"><img src="https://images.unsplash.com/photo-1436397543931-01c4a5162bdb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8YmlrZXxlbnwwfDJ8MHx8&auto=format&fit=crop&w=800&q=60" class="card-img-home" style="height: 250px" alt="..."></div>
          <div class="col-5 col-md-4"><img src="https://images.unsplash.com/photo-1507035895480-2b3156c31fc8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YmlrZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" class="card-img-home" style="height: 120px" alt="..."></div>
          <div class="col-3 col-md-4"><img src="https://images.unsplash.com/photo-1532298229144-0ec0c57515c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YmlrZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" class="card-img-home" style="height: 50px" alt="..."></div>
          <div class="col-5 col-md-4"><img src="https://images.unsplash.com/photo-1604748954134-457791b2ce9b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHZlbG98ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" class="card-img-home" style="height: 100px" alt="..."></div>
          <div class="col-3 col-md-4"><img src="https://images.unsplash.com/photo-1541625602330-2277a4c46182?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGJpa2V8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" class="card-img-home" style="height: 70px" alt="..."></div>
          <div class="col-7"><img src="https://images.unsplash.com/photo-1505705694340-019e1e335916?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8YmlrZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" class="card-img-home" style="height: 70px" alt="..."></div>
          <div class="col-1"><img src="https://images.unsplash.com/photo-1475666675596-cca2035b3d79?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGJpa2V8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" class="card-img-home" style="height: 40px" alt="..."></div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-5 rgx-5 align-items-center justify-content-center justify-content-lg-betwee pt-5">
        <h2 class="display-4 lh-1 mb-4">The art of bike</h2>
        <p class="lead fw-normal text-muted mb-5 mb-lg-0">“When the spirits are low, when the day appears dark, when work becomes monotonous, when hope hardly seems worth having, just mount a bicycle and go out for a spin down the road, without thought on anything but the ride you are taking.”</p>
    </div>

  </div>
</section>


<div class="container">
  <h2 class="mt-5">Last bikes rented</h2>
  <div class="cards">
    <% @bikes.each do |bike| %>
      <%= render "shared/card-index", bike: bike %>
    <% end %>
  </div>

</div>
