
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1563990308267-cd6d3cc09318?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
  <div class="container">
    <h1>Rent your short-term bike anywhere in the world!</h1>
    <p>Share travel stories and find the best local itineraries through a community of like minded cyclists</p>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <a class="btn btn-flat" href="/users/sign_in">Login</a>
          <a class="btn btn-flat" href="/bikes">See all our bikes</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @bikes.each do |bike| %>
      <% if bike.photo.attached? %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path bike.photo.key, height: 150, crop: :fill %>')">
      <% else %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1485965120184-e220f721d03e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80)">
      <% end %>
        <%= link_to bike.bike_type, bike_path(bike) %>
      </div>
    <% end %>
  </div>

</div>
