.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #2BA84A;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #CCDBDC;
  color: black;
}

.btn {
  border-radius: 5px;
}

#dayprice {
  color: white;
  text-decoration: none;
  border-radius: 30px;
}

.btn-cta {
  color: white;
  padding: 8px 24px;
  border-radius: 16px;
  background: #191919;
  box-shadow: 0px 3px 3px rgba(25, 32, 44, 0.04);
  border-radius: 4px;
  transition: background 0.3s ease;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.btn-cta:hover {
  background: #581131;
  color: white;
}
