.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
}


.half-page {
  height: 350px;
  width: 100%;
  object-fit: cover;
  padding: 0
}

.show-bike {
  padding-left: 0;
  padding-right: 0;
}

.card-trip h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}

.card-trip-list {
  font-size: 20px;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  position: relative;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: black
}

.card-trip-infos .card-trip-user {
  position: absolute;
  left: 30px;
  top: -45px;
  width: 50px;
}
