.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  }

  @media (min-width: 1025px) {
  .h-custom-2 {
  height: 100%;
  }
  }

.input {
  background: #FFFFFF;
  border: 1px solid #E2E8F0;
  box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.04);
  border-radius: 4px;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.label {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #475569;
}
